<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="<%= flats_path%>" style="margin-left: 10px">Simple Airbnb</a>
  <a class="btn btn-outline-primary" href="<%= new_flat_path %>" style="margin-right: 10px">Add a flat</a>
</nav>
